- if (user) {
  p Hello #{user.openid}
  form(method="post", action="/session")
    input(type="hidden", name="_csrf", value=token)
    input(type="hidden", name="_method", value="DELETE")
    input(type="submit", value="Logout")
  div(ng-view)
- } else {
  a(href='/session') Login
- }