h2 Join an existing group
form(id="join-group", method="post")
  label(for="group") Group Name
  input(type="text", ng-model="group")
  label(for="group-password") Group Password
  input(type="password", ng-model="password")
  div#join-group-submit-container
    button(ng-click="submit()") Join Group