form
  input(ng-model="xcoord", type="text", placeholder="X")
  input(ng-model="ycoord", type="text", placeholder="Y")
  input(ng-model="comment", type="text", placeholder="Comment")
  button(ng-click="go()") Submit
table
  thead
    th Date
    th X
    th Y
    th Comments
  tbody(ng-repeat="loot in loots")
    tr 
      td {{loot.date}}
      td {{loot.xcoord}}
      td {{loot.ycoord}}
      td {{loot.comment}}