form
  input(ng-model="xcoord", type="text", placeholder="X")
  input(ng-model="ycoord", type="text", placeholder="Y")
  input(ng-model="comment", type="text", placeholder="Comment")
  button(ng-click="submit()") Submit
table
  thead
    th Date
    th X
    th Y
    th Comments
  tbody
    tr(ng-repeat="loot in loots")
      input(type='hidden', value="{{loot._id}}")
      td {{loot.loot.date}}
      td 
        input(ng-model="loot.loot.xcoord", type="text", ng-readonly="loot.readonly")
      td
        input(ng-model="loot.loot.ycoord", type="text", ng-readonly="loot.readonly")
      td
        input(ng-model="loot.loot.comment", type="text", ng-readonly="loot.readonly")
      td
        button(ng-click="edit(loot)", type="button", ng-hide="loot.edit") Edit
        button(ng-click="submitEdited(loot, $index)", type="button", ng-hide="loot.submit") Submit
        button(ng-click="cancel(loot, $index)", type="button", ng-hide="loot.cancel") Cancel 
        button(ng-click="delete(loot)", type="button", ng-hide="loot.delete") Delete