doctype 5
html(ng-app="lootlist")
  head
    title DayZ Loot List
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="javascripts/angular.min.js")
    script(type="text/javascript", src="javascripts/app.js")
    script(type="text/javascript", src="javascripts/controllers.js")
  body
    h1 DayZ Loot List
    include session/user