body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 1000px;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

input[readonly] {
  border: 1px solid transparent;
}

#name {
  padding: 0 10px;
}

#navbar {
  float:right;
  margin-bottom: 20px;
}

#new-loot-form {
  clear: both;
}

#navbar li {
  list-style: none;
  float:left;
  padding-right: 5px;
}

#profile {
  margin: 0;
}

table {
  width:1000px;
}

table th {
  text-align: left;
}

.coord-th {
  width:30px;
}

.date-th {
  width:200px;
}

#create-group label {
  display:block;
  width: 200px;
}

#groups-list li {
  list-style:none;
  padding: 0 10px;
  display:inline;
}